*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    background-color: solid white;
    
    
}

.navigations a{
    text-decoration: none;
    margin-right: 20px;
    color: #000000;
    font-size: 20px;

}

.nav-btn a{
    text-decoration: none;
    background-color: #30B868;
    color: white;
    border-radius: 5px 5px 5px 5px;
    padding: 15px 20px 15px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2 ease;
}

.nav-btn a:hover{
    background-color: cadetblue;

}

.hero .early{
    display: inline;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    padding: 10px 25px;
    transition: background-color 0.1 ease;
    background: #FFFFFF;

}

.hero .early:hover{
    background-color: lemonchiffon;
}



.hero{
    text-align: center;
    padding: 150px 20px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;

    
}



.hero h1{
    color: #FFFFFF;
    font-size: 45px;
    margin-bottom: 25px;
}

.hero h1 span{
    color: #30B868;
}

.early{
    display: inline;
    background: white;
    color:#30B868;
    padding: 8px 15px; 
    border: 1px solid green; border-radius: 10px; 
    color: green; 
    gap: 20px;

}

.hero-txt{
    font-size: 35px;
    color: #FFFFFF;
    text-align: center;
    max-width: 700px;
    font-size: 20px;
    margin: 0 auto;


}

.hero-buttons{
    display: flex;
    justify-content: center;
    gap: 5px;

}

.btn{
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 15px;

}

.start-btn{
    color: #FFFFFF;
    background-color: #30B868;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.1 ease;

}

.start-btn:hover{
    background-color: darkgrey;
}



.see-btn{
    background: transparent;
    color: #FFFFFF;
    padding: 15px 20px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1 ease;

}

.see-btn:hover{
    background-color: cornflowerblue;
}


#features{
    text-align: center;
    padding: 60px 20px;
    background-color: #f7f6f2;

}

#features h2{
    font-size: 32px;
    margin-bottom: 10px;
}

#features p{
    color: #627382;
}

.features{
    display: flex;
    justify-content:center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 45px;

}

.features h2{
    font-size: 48px;

}

.icon{
    justify-content: center;
    align-items: center;
}

.icon img{
    width: 25px;
}

.feature{
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 8px white;

}

.feature h3{
    font-size: 25px;
    color: #001931;
   
}

.feature p{
    font-size: 14px;
    color: #627382;

}

.icon img{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}



#solution{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;

}

.image{
    max-width: 1000px;

}

.image img{
    width: 98%;
    height: auto;
    display: block;
    border-radius: 15px;

}

.solution-txt{
    max-width: 450px;
    text-align: left;
    font-size: 16px;
    
}

.solution-txt h2{
    color: #30B868;
    margin-bottom: 10px;
}

.solution-txt h3{
    font-size: 48px;
    color: #001931;
}

.solution-txt p{
    color: #627382;
    font-size: 16px;

}

.solution-txt ul{
    list-style:none;
    padding: 0;
}

.solution-txt ul li{
    align-items: center;
    gap: 2px;
    margin-bottom: 10px;
    display: flex;
}

#think{
    text-align: center;
    padding: 50px;
    background-color:#f7f6f2;

}

.think-content{
    margin: 0 auto;
    max-width: 500px;

}

.think-content h2{
    font-size: 40px;
    color: #000000;

}

.think-content p{
    font-size: 16px;
    color: #627382;

}

.think-btn{
    display: inline;
    background-color: #30B868;
    color: #FFFFFF;
    padding: 12px 15px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.1 ease;

}

.think-btn:hover{
    background-color: lightcoral;
}

.thinks{
    font-size: 15px;
    margin-top: 10px;

}

.footer{
    background-color: #001931;
    color: #FFFFFF;
    padding: 25px;

}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo{
    align-items: center;
    display: flex;
}

.footer-logo img{
    width: 100px;
    margin-right: 15px;
    height: 45px;

}

.footer-social{
    text-align: right;

}

.footer-social p{
    margin-bottom: 10px;

}

.social-icons a{
    display: inline;
    margin: 0 10px;

}

.social-icons img{
    width: 50px;
    height: 40px;

}

.copyright{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;

}









